#background {
    background-image: url(tv_background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.tabela {
    display: grid;
    grid-template-columns: 318px 1360px 325px;
    grid-template-rows: 112px 766px 248px;
    width: 100vw;
    height: 100vh;
}
.tabela-fora {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.tabela-dentro{
    text-align: center;
}
#tv{
    background-image: url(media_0.jpg);
    background-size: 100%;
}
#tvmenu{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 445.3px 445.3px 445.3px;
    grid-template-rows: 247.3px 247.3px 247.3px;
    background-image: url(backgroundmenu.png);
}
.botoes{
    text-align: center;
}
#tvzina{
    background-image: url(media_0.jpg);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;;
    background-repeat: no-repeat;
    background-size: 100%;
}
#botaofrente{
    background-size: 100%;
    background-image: url(nav1.png);
    text-align: center;
    grid-column: 1;
    grid-row: 3;
}
#botaodentro{
    background-size: 100%;
    background-image: url(nav2.png);
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}
#botaoatras{
    background-size: 100%;
    background-image: url(nav3.png);
    text-align: center;
    grid-column: 3;
    grid-row: 3;
}
#qrcode{
    background-image: url(icon_qrcode.png);
    text-align: center;
    grid-column: 3;
    grid-row: 2;
    background-repeat: no-repeat;
}
#loja{
    background-image: url(icon_cart.png);
    text-align: center;
    grid-column: 3;
    grid-row: 1;
    background-repeat: no-repeat;
}
#lojadescricao{
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}